<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="FortuneVoronoi" version="4.0.0.0" targetFramework="net472" />
  <package id="HamburgerMenu" version="0.1.0" targetFramework="net472" />
  <package id="HandyCollections" version="4.0.0.0" targetFramework="net472" />
  <package id="SwizzleMyVectors" version="1.1.1.0" targetFramework="net472" />
</packages>